@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-image: radial-gradient(
      circle farthest-corner at 32.7% 82.7%,
      rgba(173,0,171,1) 8.3%,
      rgba(15,51,92,1) 79.4%
    )!important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.set-background {
  background-image: radial-gradient(
      circle farthest-corner at 32.7% 82.7%,
      rgba(173,0,171,1) 8.3%,
      rgba(15,51,92,1) 79.4%
    )!important;
}

@layer base {
  li {
    @apply cursor-pointer;
    @apply px-4;
  }
}

.hover-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 15em;
}

.hover-content:hover {
  background-image: linear-gradient(
        to bottom,
        rgba(247, 248, 252, 0.8),
        hsla(242, 84%, 48%, 0.8) 
    )!important;
}