@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.set-background {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

@layer base {
  li {
    @apply cursor-pointer;
    @apply px-4;
  }
}

.hover-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 15em;
}

.hover-content:hover {
  background-image: linear-gradient(
    to bottom,
    rgba(252, 252, 255, 0.949),
    hsla(78, 81%, 68%, 0.8)
  ) !important;
}

.active {
  border-bottom: 2px solid gray;
  padding-bottom: 0.40em;
}